@model Wall.Models.Messages

<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Wall</a>
                <span class="navbar-brand">Welcome @ViewBag.Username</span>
                <a class="navbar-brand" href="/">log off</a>
            </div>
        </div>
</nav>
<div>
    <h3>Post a message</h3>
    <form action="wall/postmessage" method="POST">
    <div class="row">
        <div class="col">
            <textarea type="text" name="message"></textarea><span asp-validation-for="Message"></span>
        </div>
    </div>
        <input type="hidden" name="userid" value=@ViewBag.Userid><span asp-validation-for="Users_id"></span>
        <button type="submit">Post a Message</button>
    </form>
</div><br>
<div class="messages">
    @foreach(var message in @ViewBag.Messages)
    {
        <div class="row">
            <h4>@message["first_name"] @message["last_name"] - @message["messagedate"]</h4>
        </div>
        <div class="row">
            <p>@message["messages"]</p>
        </div><br>
        foreach(var comment in @ViewBag.Comments)
        {
            if(@message["messagesid"] == @comment["messagesid"])
            {
                <div>
                    <h4>@comment["commentname"] - @comment["commentdate"]</h4>
                    <p>@comment["comment"]</p>
                </div>
            }
        }
        <form action="wall/postcomment" method="POST">
            <p>Post a comment</p>
            <textarea type="text" name="comment"></textarea><br><br>
            <input type="submit" value="Post a comment">
            <input type="hidden" name="usersid" value = @ViewBag.Userid>
            <input type="hidden" name="messageid" value = @message["messagesid"]>
        </form>
    }

</div>
