@model Wall.Models.Messages

<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">CodingDojo Wall</a>
            </div>
            <span class="float-right">
                <span class="navbar-brand">Welcome @ViewBag.Username</span>
                <a class="navbar-brand" href="/">log off</a>
            </span>
        </div>
</nav>
<div>
    <form action="wall/postmessage" method="POST">
        <div class="row">
            <div class="col">
                <h3>Post a message</h3>
                <textarea class="form-control" rows="4" style="min-width: 100%" type="text" name="message"></textarea><span asp-validation-for="Message"></span><br>
            </div>
        </div>
        <input type="hidden" name="userid" value=@ViewBag.Userid><span asp-validation-for="Users_id"></span>
        <div class="row">
            <div class="col">
                <button class="btn-primary" style="float: right" type="submit">Post a Message</button>
            </div>
        </div>
    </form>
</div>
<div class="messages">
    @foreach(var message in @ViewBag.Messages)
    {
        <div class="row">
            <h4>@message["first_name"] @message["last_name"] - @message["messagedate"]</h4>
        </div>
        <div class="row">
            <p>@message["messages"]</p>
        </div><br>
        foreach(var comment in @ViewBag.Comments)
        {
            if(@message["messagesid"] == @comment["messagesid"])
            {
                <div>
                    <h4>@comment["commentname"] - @comment["commentdate"]</h4>
                    <p>@comment["comment"]</p>
                </div>
            }
        }
        <form action="wall/postcomment" method="POST">
            <div class="row">
                <div class="col">
                    <br><p>Post a comment</p>
                    <textarea class="form-control" rows="4" style="min-width: 100%" type="text" name="comment"></textarea><br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn-success" style="float: right" type="submit">Post a comment</button>
                </div>
            </div>
            <input type="hidden" name="messageid" value = @message["messagesid"]>
        </form>
    }

</div>
